@media only screen and (min-width: 540px) {
	
	.section-3_img:hover {
		transform: scale(1.1);
	}

	.section-5_photo:hover {
		transform: scale(1.2);
	}

	.section-1_image-2:hover {
		transform: scale(1.3);
	}

	.section-1_image-1:hover {
		/*left: -110px;
		top: -95px;*/
		transform: translate(-70px, 25px);
	}
}

@media only screen and (max-width: 540px) {
	.header-text_subtitle:before,
	.header-text_subtitle:after,
	.features-item_title:after,
	.footer-title:after,
	.section-4_title:after,
	.section-3_title:after,
	.section-2_title:after,
	.section-1_title:after {
		display: none;
	}
} 

@media only screen and (max-width: 480px) {
	
	img {
		margin: 0 auto;
	}	

	.section-1_list {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-left: 0;
	}

	.section-item {
		text-align: center;
	}

	.section-1_item:last-child {
		margin-top: 30px;
	}

	.section-1_image-wrap {
		max-width: 100%;
	}

	.section-1_item:last-child {
		margin-left: 0;
	}

	.section-3_list {
		display: flex;
		text-align: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 40px;
	}

	.section-3_item {
		margin-bottom: 50px;
	}

	.section-3_img {
		max-width: 231px;
		width: 100%;
		height: auto;
	}

	.section-4_list {
		display: flex;
		align-items: center;
		text-align: center;
	}
	

	.section-5_list {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
	.footer {
		padding-bottom: 50px;
	}

	.footer-title {
		margin-bottom: 20px;
	}

	.footer-logo-list {
		text-align: center;
		display: block;
		margin: 0;
		padding: 0;
	}

	.logo-1,
	.logo-2,
	.logo-3 {
		display: block;
		margin-bottom: 10px;
	}

	.footer-copyright {
		text-align: center;
		display: block;
	}

	.footer-copyright_icons {
		margin: 20px auto;
	}
}

@media only screen and (max-width: 400px) {

	.header	{
		padding: 65px 0 80px 0;
	}

	.nav {
		margin-top: 30px;
	}

	.nav-list {
		flex-direction: column;
	}

	.nav-button:not(:first-child),
	.nav-button + .nav-button {
		margin-left: 0;
		margin-top: 20px;
	}

	.header-text {
		font-weight: bold;
		margin: 40px 0 50px 0;
	}

	.features-list {
		flex-direction: column;
		padding: 33px 0 13px 0;
	}

	.features-item_text {
		display: none;
	}

	.section-1_list {
		padding-bottom: 65px;
	}

	.section-1_title {
		margin: 20px 0;
	}

	.section-3_list {
		padding-bottom: 20px;
	}

	.section-4_list {
		flex-direction: column;
		padding: 20px 0 40px 0;
	}
	
	.section-4_item:first-child {
		margin-bottom: 30px;
	}

	.section-4_title-2,
	.section-4_title-1 {
		margin-bottom: 10px;
	}
	
	.section-4_title-1:before,
	.section-4_title-2:before {
		display: none;
	}
}