/*-------------*/

/*--header--*/

/*--features--*/

/*--section-1--*/

/*--section-2--*/

/*-------------*/


/*--header--*/

.header-wrapper {
	position: relative;
	background: url(../img/header_bg.png) no-repeat;
	background-size: cover;
}

.header-wrapper:before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.28;
}

.header	{
	position: relative;
	margin: 0 auto;
	padding: 65px 0 120px 0;
	max-width: 600px;
	width: 100%;
	color: #f5f5f5;
	text-align: center;
}

.title {
	font-family: 'Dancing Script', cursive;
	font-size: 52px;
}

.nav {
	margin-top: 40px;
}

.nav-list {
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-link,
.header-text,
.header-button {
	text-transform: uppercase;
}

.nav-link {
	color: #f5f5f5;
	text-decoration: none;
}

.nav-link:hover {
	color: orange;
}


.nav-button:not(:first-child),
.nav-button + .nav-button {
	margin-left: 37px;
}

.header-text {
	font-weight: bold;
	margin: 78px 0 80px 0;
}

.header-text_title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 53px;
	margin-bottom: 42px;
}

.header-text_subtitle {
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;
}

.header-general-button {
	border: 0;
	background: #50c3af;
	border-radius: 90px;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 18px 50px;
	color: #f5f5f5;
}

.header-general-button:hover {
	background: orange;
	cursor: pointer;
}

/*--features--*/

.features {
	background: #eeeeef;
	text-align: center;
}

.features-list {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 600px;
	padding: 63px 0;
	margin: 0 auto;
	list-style: none;
}

.features-item_ico-1 {
	margin: 0 auto;
	width: 42px;
	height: 42px;
	background: url(../img/features/social.png) no-repeat;
	background-position: center;
	background-size: 100%;
}

.features-item_ico-2 {
	margin: 0 auto;
	width: 42px;
	height: 42px;
	background: url(../img/features/heart.png) no-repeat;
	background-position: center;
	background-size: 90%;
}

.features-item_ico-3 {
	margin: 0 auto;
	width: 42px;
	height: 42px;
	background: url(../img/features/headset.png) no-repeat;
	background-position: center;
	background-size: 90%;
}

.features-item_title {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 32px 0 48px 0;
	text-transform: uppercase;
	color: #384038;
}

.features-item_text {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #787b80;
}

/*--section-1--*/

.section-1 {
	background: #f5f5f5;
}

.section-1_list {
	display: flex;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 65px 0 77px 0;
	text-align: left;
}

.section-1_item {
	width: 100%;
	max-width: 300px;
}

.section-1_item:last-child {
	margin-left: 3%;
}

.section-1_image-wrap {
	width: 100%;
	max-width: 89.33%;
	height: 167px;
	overflow: hidden;
}

.section-1_image-1 {
	position: relative;
	left: -150px;
	top: -75px;
	width: 192%;
	height: auto;
}

.section-1_image-2 {
	position: relative;
	left: -170px;
	top: -50px;
	width: 190%;
	height: auto;
}


.section-1_title {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 42px 0 56px 0;
	text-transform: uppercase;
	color: #384048;
}

.section-1-text {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #787b80;
	padding-bottom: 34px;
}

.section-1_button {
	background: #50c3af;
	border: none;
	border-radius: 90px;
	padding: 11px 17px;
	color: #f5f5f5;
	text-decoration: none;
}

.section-1_button:hover {
	background: orange;
	cursor: pointer;
}

/*--section-2--*/

.section-2 {
	background: #eeeeef;
}

.section-item {
	width: 100%;
	max-width: 600px;
	text-align: left;
	margin: 0 auto;
	padding: 60px 0 65px 0;
}

.section-2_title {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 46px;
	text-transform: uppercase;
	color: #384048;
}

.section-2_text {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #787b80;
	margin-bottom: 36px;
}

.section-2_link {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #f5f5f5;
	background: #d2d5da;
	padding: 12px 17px;
	border-radius: 90px;
	text-decoration: none;
}

.section-2_link:hover {
	background: orange;
	color: #fff;
}