/*-------------*/

/*--header--*/

/*--features--*/

/*--section-1--*/

/*--section-2--*/

/*--section-3--*/

/*--section-4--*/

/*--section-5--*/

/*--footer--*/

/*-------------*/


/*--header--*/

img {
	display: block;
}

.header-wrapper {
	position: relative;
	background: url(../img/header_bg.png) no-repeat;
	background-size: cover;
}

.header-wrapper:before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.28;
}

.header	{
	position: relative;
	margin: 0 auto;
	padding: 65px 0 120px 0;
	max-width: 600px;
	width: 100%;
	color: #f5f5f5;
	text-align: center;
}

.title {
	display: block;
	margin: 0 auto;
}

.nav {
	margin-top: 40px;
}

.nav-list {
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-link,
.header-text,
.header-button {
	text-transform: uppercase;
}

.nav-link {
	color: #f5f5f5;
	text-decoration: none;
}

.nav-link:hover {
	color: orange;
}


.nav-button:not(:first-child),
.nav-button + .nav-button {
	margin-left: 37px;
}

.header-text {
	font-weight: bold;
	margin: 78px 0 80px 0;
}

.header-text_title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 53px;
	margin-bottom: 42px;
}

.header-text_subtitle {
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;
	position: relative;
}

.header-text_subtitle:before {
	content: '';
	position: absolute;
	display: block;
	width: 15%;
	border: 1px solid #506a70;
	top: 7px;
	left: 70px;
	opacity: 0.5;
}

.header-text_subtitle:after {
	content: '';
	position: absolute;
	display: block;
	width: 15%;
	border: 1px solid #506a70;
	top: 7px;
	right: 70px;
	opacity: 0.5;
}

.header-general-button {
	border: 0;
	background: #50c3af;
	border-radius: 90px;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 18px 50px;
	color: #f5f5f5;
}

.header-general-button:hover {
	background: orange;
	cursor: pointer;
}

/*--features--*/

.features {
	background: #eeeeef;
	text-align: center;
}

.features-list {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 600px;
	padding: 63px 0;
	margin: 0 auto;
	list-style: none;
}

.features-item_ico-1 {
	margin: 0 auto;
	width: 42px;
	height: 42px;
	background: url(../img/features/social.png) no-repeat;
	background-position: center;
	background-size: 100%;
}

.features-item_ico-2 {
	margin: 0 auto;
	width: 42px;
	height: 42px;
	background: url(../img/features/heart.png) no-repeat;
	background-position: center;
	background-size: 90%;
}

.features-item_ico-3 {
	margin: 0 auto;
	width: 42px;
	height: 42px;
	background: url(../img/features/headset.png) no-repeat;
	background-position: center;
	background-size: 90%;
}

.features-item_title {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 32px 0 48px 0;
	text-transform: uppercase;
	color: #384038;
	position: relative;
}

.features-item_title:after {
	content: '';
	position: absolute;
	top: 40px;
	left: 28px;
	display: block;
	width: 70%;
	border: 1px solid #e2e3e4;
	opacity: 0.5;
}

.features-item_text {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #787b80;
}

/*--section-1--*/

.section-1 {
	background: #f5f5f5;
}

.section-1_list {
	display: flex;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 65px 0 77px 10px;
	text-align: left;
}

.section-1_item {
	width: 100%;
	max-width: 300px;
}

.section-1_item:last-child {
	margin-left: 2%;
}

.section-1_image-wrap {
	width: 100%;
	min-width: 129px;
	max-width: 89.33%;
	height: 167px;
	overflow: hidden;
	margin: 0;
}

.section-1_image-1 {
	position: relative;
	left: -150px;
	top: -75px;
	width: 192%;
	height: auto;
}

.section-1_image-2 {
	position: relative;
	left: -170px;
	top: -50px;
	width: 190%;
	height: auto;
}


.section-1_title {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 42px 0 56px 0;
	text-transform: uppercase;
	color: #384048;
	position: relative;
}

.section-1_title:after {
	content: '';
	position: absolute;
	display: block;
	width: 90%;
	top: 40px;
	border: 1px solid #e2e3e4;
}

.section-1-text {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #787b80;
	padding-bottom: 34px;
}

.section-1_button {
	background: #50c3af;
	border: none;
	border-radius: 90px;
	padding: 11px 17px;
	color: #f5f5f5;
	text-decoration: none;
}

.section-1_button:hover {
	background: orange;
	cursor: pointer;
}

/*--section-2--*/

.section-2 {
	background: #eeeeef;
}

.section-item {
	width: 100%;
	max-width: 600px;
	text-align: left;
	margin: 0 auto;
	padding: 60px 0 65px 0;
}

.section-2_title {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 46px;
	text-transform: uppercase;
	color: #384048;
	position: relative;
}

.section-2_title:before {
	content: url(../img/global_icons/ico-circle.png);
	margin-right: 10px;
}

.section-2_title:after {
	content: '';
	position: absolute;
	display: block;
	width: 60%;
	top: 45px;
	border: 1px solid #e2e3e4;
}

.section-2_text {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #787b80;
	margin-bottom: 36px;
}

.section-2_link {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #f5f5f5;
	background: #d2d5da;
	padding: 12px 17px;
	border-radius: 90px;
	text-decoration: none;
}

.section-2_link:hover {
	background: orange;
	color: #fff;
}

/*--section-3--*/

.section-3 {
	background: #f5f5f5;
}

.section-3_list {
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	padding: 60px 0 69px 0;
}

.section-3_list {
	display: flex;
	justify-content: space-around;
}

.section-3_img {
	max-width: 181px;
	width: 100%;
	height: auto;
}

.section-3_title {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #384048;
	font-weight: bold;
	text-transform: uppercase;
	margin: 42px 0 47px 0;
	position: relative;
}

.section-3_title:after {
	content: '';
	position: absolute;
	display: block;
	width: 90%;
	top: 40px;
	border: 1px solid #e2e3e4;
}

.section-3_text {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #787b80;
	margin-bottom: 27px;
}

.section-3_link {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #50c3af;
	text-decoration: none;
	font-weight: 570;
}

.section-3_link:hover {
	color: orange;
}

/*--section-4--*/

.section-4 {
	background: #eeeeef;
}

.section-4_list {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 62px 0;
	display: flex;
	justify-content: space-between;
}

.section-4_item {
	width: 100%;
	max-width: 250px;
}

.section-4_title {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #384048;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 45px;
	position: relative;
}

.section-4_title:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	top: 45px;
	border: 1px solid #e2e3e4;
}

.section-4_title-1:before {
	content: url(../img/global_icons/ico-paper-airplane.png);
	margin-right: 10px;
}

.section-4_title-2:before {
	content: url(../img/global_icons/ico-pencil.png);
	margin-right: 10px;
}

.section-4_text {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #787b80;
	margin-bottom: 36px;
}

.section-4_link {
	padding: 12px 17px;
	border-radius: 90px;
	background: #50c3af;
	text-decoration: none;
	color: #f5f5f5;
}

.section-4_link:hover {
	background: orange;
	cursor: pointer;
}

/*--section-5--*/

.section-5 {
	background: #f5f5f5;
}

.section-5_list {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 52px 0 63px 0;
}

.section-5_photo {
	max-width: 264px;
	width: 100%;
	max-height: 210px;
	height: auto;
}

.section-5_item {
	width: 100%;
	max-width: 292px;
	padding-left: 10px;
}

.section-5_title {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #293139;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 54px;
	position: relative;
}

.section-5_title:after {
	content: '';
	position: absolute;
	display: block;
	width: 90%;
	top: 45px;
	border: 1px solid #e2e3e4;
}

.section-5_text {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #787b80;
	margin-bottom: 28px;
}

.section-5_link {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #f5f5f5;
	background: #d2d5da;
	padding: 12px 17px;
	border-radius: 90px;
	text-decoration: none;
}

.section-5_link:hover {
	background: orange;
	color: #fff;
}

/*--footer--*/

.footer-wrapper {
	background: #50c3af;
}

.footer {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 50px 0 68px 0;
}

.footer-title {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 61px;
	position: relative;
}

.footer-title:before {
	content: url(../img/footer/star-24.png);
	margin-right: 10px;
}

.footer-title:after {
	content: '';
	position: absolute;
	display: block;
	width: 42%;
	left: 160px;
	top: 40px;
	border: 1px solid #61c8b6;
}

.footer-logo-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	color: #fff;
}

.logo-1 {
	font-family: 'Dancing Script', cursive;
	font-size: 26px;
}

.logo-2 {
	font-family: 'Bubbler One', sans-serif;
	font-size: 26px;
	font-weight: 600;
}

.logo-3 {
	font-family: 'Cabin', sans-serif;
	font-size: 26px;
}

.logo-4 {
	font-size: 26px;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.footer-copyright-wrap {
	background: #f5f5f5;
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 0;
}

.copyright-elena,
.copyright-elena-text {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
}

.copyright-elena {
	color: #787b80;
}

.copyright-elena-text {
	color: #aaacaf;
}

.footer-copyright_icons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 80px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-ico-1,
.footer-ico-2,
.footer-ico-3 {
	height: 20px;
	width: 20px;
	display: block;
}

.footer-ico-1 {
	background: url(../img/footer/google-ico-24.png) no-repeat center;
}

.footer-ico-2 {
	background: url(../img/footer/facebook-ico-24.png) no-repeat center;
}

.footer-ico-3 {
	background: url(../img/footer/twitter-ico-24.png) no-repeat center;
}